<h1>Editing Instructor</h1>

<%= render 'form', instructor: @instructor %>

<%= link_to 'Show', @instructor, class:"btn btn-outline-primary" %> |
<%= link_to 'Back', 'javascript:history.back()', class:"btn btn-outline-primary" %>
