<h1>Editing Subject</h1>

<%= render 'form', subject: @subject %>

<%= link_to 'Show', @subject , class:"btn btn-outline-primary"%> |
<%= link_to 'Back', 'javascript:history.back()', class:"btn btn-outline-primary" %>
